html, body {
  scrollbar-width: none;
}

::-webkit-scrollbar {
display: none;
}

.app-container {
  background: #000000;
  color: $primary-font-color;
  min-height: 100vh;
  font-family: 'Open Sans Condensed', sans-serif;
  overflow: hidden!important;
  -ms-overflow-style: none!important;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 24000px;
}

.root-container {
  background: $primary-color;
}

.cursor-pointer {
  cursor: pointer;
}

.word-break-all {
  word-break : break-all;
}

.card-shadow {
  box-shadow: 0 0 5px #434343;
}

.background-video {
  height: 100vh !important;
  position: absolute;
  z-index: $layer-minimum;
  width: 100% !important;
}

.component-container {
  z-index: $layer-1;
}

.width-75 {
  width: 75vw !important;
  transition: width 0.3s;
}

.width-25 {
  width: 25vw !important;
  transition: width 0.3s;
}

.width-100 {
  width: 100vw !important;
  transition: width 0.3s;
}

.width-0 {
  width: 0 !important;
  transition: width 0.3s;
}

::-moz-selection {
  background-color: rgba(17,17,17,0.9);
}

::selection {
  background-color: rgba(51,51,51,0.7);
}

video {
  object-fit: cover;
}

button:focus {
  outline: none;
}

html,body{
  overflow-x: hidden;
}
