.basic-info-container {
  font-family: 'Open Sans Condensed', sans-serif;
  width: 100%;
  height: 750px;
  position: relative;
  color: #000000;
  background-color: #FFFFFF;
}

.basic-info-container:hover .background-text-basic {
  transform: translateX(25px);
}

.basic-info-container:hover .background-text-info {
  transform: translateX(-25px);
}

.background-text-basic-info {
  display: none;
}

.background-text-basic {
  letter-spacing: 150px;
  color: rgba(192,192,192,0.7);
  position: absolute;
  left: -25px;
  top: 0;
  font-size: 430px;
  line-height: 400px;
  font-weight: bolder;
  white-space: pre;
  transition: all 0.3s;
}

.background-text-info {
  letter-spacing: 150px;
  color: rgba(192,192,192,0.7);
  position: absolute;
  right: -25px;
  bottom: 0;
  font-size: 430px;
  line-height: 400px;
  font-weight: bolder;
  white-space: pre;
  transition: all 0.3s;
}

.who-am-i {
  font-size: 100px;
  font-weight: bolder;
}

.black-box {
  height: 350px;
  border-radius: 5px;
  opacity: 1;
  color: white;
  transition: all 0.3s;
  font-size: 22px;
}

.left-black-box {
  background-image: url("../../assets/img/image_laptop_and_coffee.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: brightness(75%);
  transition: all 0.3s;

  &:hover {
    filter: brightness(100%);
  }
}

.right-black-box {
  background-image: url("../../assets/img/image_books_for_studying.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: brightness(75%);
  transition: all 0.3s;

  &:hover {
    filter: brightness(100%);
  }
}

@media only screen and (max-width: $SM) {
  .basic-info-container {
    height: auto;
    padding-bottom: 50px;
  }

  .black-box {
    height: 220px;
    font-size: 14px;
  }

  .who-am-i {
    font-size: 42px;
  }

  .background-text-basic-info {
    display: flex;
    color: rgba(192,192,192,0.7);
    position: absolute;
    right: 0;
    top:0;
    font-size: 125px;
    transform: rotateZ(90deg) translateY(-220px) translateX(230px);
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 10px;
  }

  .background-text-basic {
    display: none;
  }

  .background-text-info {
    display: none;
  }
}