.border-right-light-gray {
  border-right: $white-border-2px;
}

.border-bottom-light-gray {
  border-bottom: $light-gray-border-2px;
}

.light-gray-icon {
  font-size: $font-size-24;
  color: $orange-color;
}

.light-gray-icon-big {
  font-size: $font-size-100;
  color: $orange-color;
}

.light-gray-background {
  background-color: $light-gray-color;
}

.font-size-bigger {
  font-size: $font-size-46;
}

.section-title{
  border-top-left-radius: 5px;
  background-color: $light-gray-color;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  height: 50px;
  font-size: $font-size-18;
  color: white;
  width: 85%;
}

.section-footer{
  border-bottom-right-radius: 5px;
  background-color: white;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  height: 50px;
  width: 85%;
  margin-left: 15%;
}