.footer {
  background-color: #000000;
  padding-top: 50px;
}

.footer-icon-container {
  width: 100px;
  height: 75px;
}

.footer-icon {
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: 0.25s all;
  &:hover{
    width: 72px;
    height: 72px;
    animation: footer-icon-rotation 0.5s linear;
  }
}

.lets-connect-container {
  font-size: 46px;
}

.footer-links-container {
  padding-top: 50px!important;
  font-size: 28px;
}

.all-rights-reserved-container {
  color: grey;
  font-weight: 1000;
}

@media only screen and (max-width: $SM) {
  .footer-icon:hover {
    width: 54px;
    height: 54px;
    animation: footer-icon-rotation 0.5s linear;
  }

  .lets-connect-container {
    font-size: 26px;
  }

  .footer-links-container {
    font-size: 14px;
    padding-top: 30px!important;
  }

  .all-rights-reserved-container {
    font-size: 12px;
  }
}