.footer {
  background-color: $primary-color;
  margin-top: 150px;
}

.footer-icon {
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  transition: 0.5s background-color;
  &:hover{
    background-color: $orange-color;
  }
}

.lets-connect-container-lg {
  font-family: 'Pacifico', cursive;
  font-size: $font-size-46;
}

.lets-connect-container {
  font-family: 'Pacifico', cursive;
  font-size: $font-size-22;
}

.border-bottom-orange {
  border-bottom: $orange-border-3px;
}