.profile-picture-lg {
  width: 900px;
  height: 500px;
  margin-top: 112px;
}

.profile-picture {
  width: 90vw;
  height: 50vw;
  margin-top: 70px;
}


.software-developer-lg {
  font-size: $font-size-46;
  color: $orange-color;
}

.software-developer {
  font-size: $font-size-24;
  color: $orange-color;
}

.software-developer-subtitle-lg {
  font-size: $font-size-18;
}

.software-developer-subtitle {
  font-size: $font-size-14;
}