.leaflet-container {
  height: 90vh;
  width: 75vw;
  transition: width 0.3s;
  z-index: $layer-map!important;
}

.leaflet-popup  {
  margin-bottom: 20px!important;
}

.leaflet-popup-content {
  margin: 0;
}

.leaflet-popup-content-wrapper {
  background-color: #000000;
  padding: 0;
  border-radius: 5px;
  width: 250px!important;
  overflow: hidden;
}

.leaflet-popup-tip {
  background-color: #000000;
}

.leaflet-popup-close-button {
  color: #000000!important;
  font-size: 24px!important;
  padding: 0!important;
  margin-right: 4px!important;
  margin-top: 4px !important;
}

.map-x {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: #000000;
  z-index: $layer-maximum;
  cursor: pointer;
  font-weight: bolder;
}

.map-cover-title {
  font-family: 'Open Sans Condensed', sans-serif;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  top:0;
  left: 0;
  color:white;
  font-size: 75px;
  overflow: auto;
  white-space: nowrap;
}

.map-cover-title-animation{
  animation: fadeLeft 1.25s linear,1.25s fadeOut 1.25s linear;
}

.leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.active-marker  {
  box-shadow: rgba(106,121,247,0.3) 0 0 0 25px!important;
  border-radius: 50%;
  transition: box-shadow 0.7s;
}

.leaflet-marker-icon {
  box-shadow: none;
  transition: box-shadow 0.7s;
  border-radius: 50%;
}

.leaflet-layer {
  z-index: $layer-map!important;
}

.leaflet-tile-container {
  z-index: $layer-map!important;
}

.leaflet-pane {
  z-index: $layer-map!important;
}

.leaflet-tile {
  z-index: $layer-map!important;
}

.popup-image {
  width: 250px;
  height: 140px;
}

.popup-text {
  font-size: 14px;
}

@media only screen and (max-width: $SM) {
  .map-cover-title {
    font-size: 22px;
  }

  .leaflet-container {
    height: 80vh;
    width: 95vw;
  }
}