.navbar-container-lg {
  font-size: $font-size-14;
  position: fixed;
  z-index: 9999;
}

.navbar-container {
  font-size: $font-size-14;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.navbar-container-scrolled {
  z-index: 9999;
}

.logo-lg {
  height: 112px;
  transition: height 0.5s, width 0.5s;
  animation: rotation 2s linear;
}

.logo-loading {
  height: 100px;
  transition: height 0.5s, width 0.5s;
  animation: loading 1s linear infinite;
}

.logo {
  height: 40px;
  animation: rotation 2s linear;
}

.logo-scrolled {
  height: 40px;
  transition: height 0.5s, width 0.5s;
}

.lang-icon {
  width: 50px;
  height: 30px;
  border-radius: 3px;
}

.hamburger-dropdown {
  font-size: $font-size-14;
}

.navbar-item-hover {
  border-bottom: $transparent-border;
  transition: border-bottom 0.5s;
}

.navbar-item-hover:hover {
  border-bottom: $orange-border-3px;
}

.scroll-to-top-icon {
  position: fixed;
  bottom: 15px;
  right: 3rem;
  transition: all 0.3s;
}

.scroll-to-top-icon-not-displayed {
  position: fixed;
  bottom: 15px;
  right: 3rem;
  width: 0;
  height: 0;
  transition: all 0.3s;
}

.scroll-to-top-icon-padding {
  right: calc(3rem + 25vw);
}

.scroll-to-top-icon-padding-sm {
  right: 30px;
  position: fixed;
  bottom: 15px;
}

.languages-menu {
  background-color: $primary-color;
  border: $light-gray-border-2px;
  min-width: 0;
}

.dropdown-menu {
  display: none;
  opacity: 0;
  transition: display 0s, opacity 0.3s linear;
}

.dropdown-menu.show {
  display: block;
  opacity: 1;
}