.logo {
  height: 75px;
  width: 200px;
}

.profile-picture {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 0.125rem solid white;
}

.profile-picture-container-sm {
  position: relative;
  bottom: -110px;
  left: calc(25% - 110px);
}

.profile-picture-container {
  position: relative;
  bottom: -110px;
  left: calc(50% - 110px);
}

.navbar-container {
  font-size: $font-size-navbar;
  position: relative;
  border-bottom: 0.125rem solid white;
}

.lang-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.hamburger-dropdown {
  font-size: $font-size-navbar-big;
}