.logo {
  height: 100px;
  width: 275px;
}

.profile-picture-lg {
  width: 900px;
}

.profile-picture {
  width: 80vw;
}

.navbar-container {
  font-size: $font-size-14;
}



.lang-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.hamburger-dropdown {
  font-size: $font-size-14;
}

.navbar-item-hover {
  border-bottom: $transparent-border;
  transition: border-bottom 0.5s;
}

.navbar-item-hover:hover {
  border-bottom: $orange-border-3px;
}

.software-developer-lg {
  font-size: $font-size-46;
  color: $orange-color;
}

.software-developer {
  font-size: $font-size-24;
  color: $orange-color;
}

.software-developer-subtitle-lg {
  font-size: $font-size-18;
}

.software-developer-subtitle {
  font-size: $font-size-14;
}