.skillset-container {
  font-family: 'Open Sans Condensed', sans-serif;
  width: 100%;
  position: relative;
  height: 700px;
}

.skillset-side-note {
  height: 400px;
  width: 200px;
  background-color: rgba(192, 192, 192, 0.7);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  top: 20px;
  left: 0;
}