//Colors
$primary-color: #000000;
$aqua-color: #00DBFF;

//Fonts
$primary-font: 'Open Sans', sans-serif;
$primary-font-color: #FFFFFF;
$font-size-navbar: 14px;
$font-size-navbar-big: 16px;
$font-size-section-subtitle: 19px;
$font-size-section-title: 24px;

//Borders
$yellow-border: 2px solid $aqua-color;